<li 
    class="daily-weather" 
    [ngClass]="{'active': dailyWeather.date*1000 === today.getTime()}"
>
    <img [src]="weatherIcon">
    <span class="day-name">
        {{ dailyWeather.date*1000 | date: 'EEEE' }}
    </span>
    <span class="day-temp">
        <ng-container *ngIf="dailyWeather?.weather?.temp; else minAndMaxTempTemplate">
            {{ dailyWeather?.weather?.temp }} {{ unitSymbol }}
        </ng-container>
        <ng-template #minAndMaxTempTemplate>
            <h3>{{dailyWeather?.weather?.minTemp }} - {{ dailyWeather?.weather?.maxTemp }} {{ unitSymbol }}</h3>
        </ng-template>
    </span>
</li>