<h2 class="text-center">Home</h2>

<div class="search-container mb-3">

    <div class="form-group">
        <input 
            placeholder="Search city"
            type="text"
            matInput
            [formControl]="searchControlWithAutocomplete"
            [matAutocomplete]="auto"
        >
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option 
                *ngFor="let city of cities" [value]="city?.LocalizedName"
                (click)="doSearch()"
            >
                {{ city?.LocalizedName }}
            </mat-option>
        </mat-autocomplete>
        <app-error [HTMLType]="'MATERIAL'" [controlName]="searchControlWithAutocomplete"></app-error>            
    </div>
</div>

<app-loader *ngIf="loading$ | async"></app-loader>

<div class="weather-container" *ngIf="!(loading$ | async) && !(error$ | async) && (cityWeather$ | async) as cityWeather">
    <home-current-weather
        [cityWeather]="cityWeather"
        [cityForecast]="cityForecast"
        [isFavorite]="isCurrentFavorite$ | async"
        (toggleBookmark)="onToggleBookmark()"
        (toggleForecast)="onToggleForecast(cityWeather)"
    >
    </home-current-weather>
</div>

<div *ngIf="!(loading$ | async) && (error$ | async)">
    <p>Something went wrong</p>
</div>
