<div class="container-fluid">

    <div class="search-container">
  
      <div class="form-group">
        <label>Pesquisar</label>
        <div>
          <input class="form-control" [formControl]="searchControl">
          <button class="btn btn-dark"
                  [disabled]="!searchControl.valid"
                  (click)="doSearch()">Search</button>
        </div>
      </div>
  
      <div class="form-group">
        <!-- <label>Pesquisar com <i>autocomplete</i></label>
        <jv-cities-typeahead [formControl]="searchControlWithAutocomplete"></jv-cities-typeahead> -->
      </div>
  
    </div>
  
    <app-loader *ngIf="loading$ | async"></app-loader>
  
    <div *ngIf="!(loading$ | async) && !(error$ | async) && (cityWeather$ | async) as cityWeather">
            
            <home-current-weather
                [cityWeather]="cityWeather"
                [cityForecast]="cityForecast"
                [isFavorite]="isCurrentFavorite$ | async"
                (toggleBookmark)="onToggleBookmark()"
                (toggleForecast)="onToggleForecast(cityWeather)"
            >
    
            </home-current-weather>

            {{cityWeather | json}}

            {{cityForecast$ | async | json}}
    </div>
  
    <div *ngIf="!(loading$ | async) && (error$ | async)">
      <p>Something went wrong</p>
    </div>
  
  </div>
  