<div class="weather-side">
    <button class="btn bookmark-btn" (click)="onToggleBookmark()">
        &hearts; {{ isFavorite ? 'Remove from favorites' : 'Add to favorites' }}
    </button>
    <div class="date-container">
        <h2 class="date-dayname">
            {{ today | date: 'EEEE' }}
        </h2>
        <span class="date-day">{{today | date: 'longDate'}}</span>
        <i class="location-icon" data-feather="map-pin"></i>
        <span class="location">{{ cityName }}</span>
    </div>
    <div class="weather-container"><i class="weather-icon" data-feather="sun"></i>
        <h1 class="weather-temp">{{cityWeather.weather?.temp}} ˚C</h1>
        <div class="weather-icon">
            <img [src]="weatherIcon">
        </div>
        <h3 class="weather-desc">{{cityWeather.weather?.description}}</h3>
    </div>
</div>

<div class="info-side">
    <div class="week-container">
        <ul class="week-list">
            <ng-container
                *ngFor="let cf of cityForecast?.daily; let i = index"
            >
                <shared-detailed-weather 
                    [@slideDownUp]="{value:'',params:{animationDelay: (i*1) * 800}}"
                    [dailyWeather]="cf"
                >
                </shared-detailed-weather>
            </ng-container>
            
        </ul>
    </div>
    <div class="location-container d-flex justify-content-center">
        <button class="location-button" (click)="onToggleForecast()"> 
            5 days forecast
        </button>
    </div>
</div>
